:root {
	/* --color1: #0d5ac5; */
	--color1: #1800D4;
	--color2: #4fa2f1;
	--color3: #e8eafa;
	--color4: #000101;
	--color5: #ebecf3;
	--color6: #fffaff;
	--color7: #02347a;

	--font_body: 0.9rem;
	--article-font: 1.05rem;

	--font_icon: 1.3rem;
	--font-heading-1: 2.4rem;
	--font-heading-2: 2.5rem;
	--font-heading-3: 1.1rem;
}
