.contact, .about {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.contact .raw,
.about .raw {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 5rem;
}
.contact .raw .title,
.about .raw .title {
	font-size: 2.5rem;
	color: var(--color1);
}
.contact .raw .slogan,
.about .raw .slogan {
	width: 40%;
}

.contact .form-container {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 2rem;
}

.contact .raw .left {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 1rem;
	width: 50%;
	border-radius: 0.75rem;
}

.contact .raw .left h2,
.contact .social h3 {
	font-size: 1.3rem;
	text-align: center;
	color: var(--color1);
}
.contact .raw .left h2 {
	margin-bottom: 1.2rem;
}

.contact .raw .left form{
	display: flex;
	flex-direction: column;
	/* font-size: 1.2rem; */
}

.contact .raw .left form .box {
	margin-bottom: 0.75rem;
}
.contact .raw .left form .box .label{
	margin-bottom: 0.25rem;
}
.contact .raw .left form input {
	height: 40px
}
.contact .raw .left form input,
.contact .raw .left form textarea {
	width: 100%;
	border: 1px solid #b4b5c7;
	padding: 0.5rem;
	font-family: inherit;
	border-radius: .5rem;
}
.contact .raw .left form textarea {
	height: 140px;
}

.contact .raw .left form button {
	background-color: var(--color1);
	color: var(--color5);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
}

.contact .raw .left form input:focus,
.contact .raw .left form textarea:focus {
	border: 2px solid var(--color1);
	outline: none;
}

.contact .raw .right {
	padding: 2rem 3rem;
	width: 50%;
}
.contact .raw .right .box {
	display: flex;
	align-items: center;
	margin: 1.5rem 0;
}
.contact .raw .right .box i {
	font-size: 2.2rem;
	color: var(--color1);
	margin-right: 0.5rem;
}
.contact .raw .right .box span {
	font-size: 1rem;
}

.contact .social {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}

.contact .social .links {
	padding-top: 0.75rem;
}

.contact .social .links i {
	font-size: 1.5rem;
	color: var(--color1);
	margin-right: 0.25rem;
}

.contact .social .links i:hover {
	color: var(--color2);
}

/* About Page - Slider*/
