.dashboard-container {
	padding: 1rem 0;
}
.dashboard-container .raw{
	display: flex;
	justify-content: space-between;
	background-color: var(--color5);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-container .raw .sidemenu {
	height: 100vh;
	flex: 2.5;
	background-color: var(--color6);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 1rem 0 0 1rem;
}

.dashboard-container .raw .sidemenu .user {
	display: flex;
	align-items: center;
	margin-bottom: .5rem;
	padding: 1rem .5rem;

}
.dashboard-container .raw .sidemenu .user img {
	width: 55px;
	height: 50px;
	border-radius: 50%;
	margin-right: .25rem;
}

.dashboard-container .raw .sidemenu .lists li i{
	color: var(--color1);
	font-size: 1rem;
	margin-right: 0.5rem;
}

.dashboard-container .raw .sidemenu .lists {
	padding: 1rem .75rem;
}

.dashboard-container .raw .sidemenu .lists li {
	padding: 0.75rem 0;
}

.dashboard-container .raw .sidemenu .lists li:hover{
	color: var(--color1);
	border-bottom: 1px solid #888;
}
.dashboard-container .raw .container {
	flex: 9.5;
	padding: 1rem 2rem;
}

.dashboard-container .raw .container .statistics {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dashboard-container .raw .container .statistics .box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0.5rem;
	width: 210px;
	height: 145px;
	background-color: var(--color6);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.dashboard-container .raw .container .statistics .box div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.dashboard-container .raw .container .statistics .box h3 {
	font-size: 1.4rem;
}

.dashboard-container .raw .container .statistics .box div i {
	font-size: 2rem;
	color: var(--color1);
	margin-right: .5rem;
}

.dashboard-container .raw .container .statistics .box p {
	font-size: 1.1rem;
}

.dashboard-container .table-container {
	margin-top: 3rem;
}

.dashboard-container .table-container h2 {
	margin-bottom: 1rem;
}