.listings-container .detail-container {
	margin-top: 2rem;
}

.detail-container .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 0;
}

.detail-container .categories {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.detail-container .categories .cat-box {
	padding: 0.75rem 1rem;
	background-color: var(--color5);
	font-size: 1rem;
	font-weight: 300;
	border-radius: 0.25rem;
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.detail-container .categories .cat-box:hover {
	background-color: var(--color1);
	color: var(--color3);
}
.detail-container .raw {
	display: flex;
}
.detail-container .raw .detail-col {
	flex: 9;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	/* background-color: var(--color6); */
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
}

.detail-container .raw .detail-col article {
	font-weight: 300;
}
.detail-container .raw .detail-col h2 {
	font-size: 1.8rem;
}

.detail-container .raw .detail-col .review {
	margin: 1rem 0;
}
.detail-container .detail-col .image-box img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin-bottom: 1rem;
}

/* Stat Slider */
.slider-image {
	max-width: 100%;
	height: 15rem;
	margin: 1rem auto;
	position: relative;
	overflow: hidden;
}
.slide-image {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 1s;
	height: 15rem;
}

/* End Slider */
.detail-container .detail-col .slide img {
	width: 100%;
	height: 250px;
	margin: 0.25rem;
}

.detail-container .detail-col article {
	font-size: var(--article-font);
	line-height: 2rem;
	margin: 3rem 0;
}

.detail-container .detail-sidebar {
	padding: .5rem;
	flex: 3;
	justify-content: center;
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.detail-sidebar .owner {
	display: flex;
	align-items: center;
}
.detail-sidebar .owner img {
	width: 85px;
	height: 75px;
	border-radius: 50%;
	margin-bottom: 0.75rem;
}
.detail-sidebar .owner i {
	color: var(--color1);
	margin-right: 0.25rem;
}
.detail-sidebar p {
	padding: 0.5rem;
	text-align: center;
	margin-bottom: .75rem;
}

.detail-sidebar .contact {
	padding: 0.5rem;
	display: flex;
	font-size: 0.8rem;
}

.detail-sidebar .contact a {
	margin: .5rem;
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem;
	background-color: var(--color1);
	color: var(--color5);
}
.detail-sidebar .contact a:hover {
	background-color: var(--color7);
}
.detail-sidebar .contact i {
	font-size: var( --font_icon);
	color: var(--color5);
	margin-right: .5rem;
}


/* User Review */

.review-container .user {
	display: flex;
	align-items: center;
}


.review-container .review {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review-container .user {
	margin-right: .5rem;
}

.review-container .user img {
	width: 60px;
	height: 50px;
	border-radius: 50%;
}

.review-container blockquote {
	text-align: center;
	font-weight: 300;
	font-size: 1rem;
}